/TimeIsThe/* text=auto
/TimeIsThe/*.cs text eol=lf
/TimeIsThe/*.unity merge=unityyamlmerge eol=lf
/TimeIsThe/*.prefab merge=unityyamlmerge eol=lf
/TimeIsThe/*.asset merge=unityyamlmerge eol=lf
/TimeIsThe/*.png filter=lfs diff=lfs merge=lfs -text
/TimeIsThe/*.jpg filter=lfs diff=lfs merge=lfs -text
/TimeIsThe/*.mp3 filter=lfs diff=lfs merge=lfs -text
/TimeIsThe/*.wav filter=lfs diff=lfs merge=lfs -text
